
// Font
$font_small: 10px;
$font_normal: 14px;
$font_large: 18px;
$font_huge: 36px;

// Colors http://paletton.com/#uid=50Y0u0kllllaFw0g0qFqFg0w0aF
$color_black: #010101;
$color_white: #FEFEFE;
$color_grey: #838383;

$color_tan: #FFE3AA;
$color_light_brown: #D4B26A;
$color_brown: #553900;
$color_green: #5C9632;
